
<section class="section section_clear">
    <div class="container">
        <div class="clear">
            <div class="section__title clear__title" data-aos="fade-up">Очисти и защити свой организм от вредителей!</div>
            <div class="clear__product">
                <img src="../media/product-2.png" alt="">
            </div>
            <a href="" class="clear__button">заказать сейчас</a>
        </div>
    </div>
</section>
