
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up"><span>Люди, оценившие </span>эффект Bacteoff</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Veronica Boyd</div>
                    <div class="commits__description">
                        Я даже и подумать не могла, что у меня могут появиться глисты. Когда узнала, что заражена, то попробовала Bacteoff. Меня привлекло, что средство содержит только натуральные ингредиенты, простое в применении и не имеет противопоказаний. После первого применения пропали все симптомы. Заказала товар по предоплате. Цена на упаковку вообще сказочная, теперь принимаем для профилактики всей семьей.
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Eugenia Stone</div>
                    <div class="commits__description">
                        Мы всей семьей приняли Bacteoff. У дочери анализ на яйцеглист оказался плохим, и тогда врач посоветовала купить и пропить лекарство всем членам семьи. На вкус не противный, никаких побочных действий отмечено не было. После всей семьей сдали анализ, и все отлично. Что мне, как человеку, распределяющему семейный бюджет, понравилось, это цена и то, что товар можно оплатить при получении.
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Annabella Henderson</div>
                    <div class="commits__description">
                        Bacteoff полностью очистил мой организм от паразитов. Сразу сил стало больше, спать стала хорошо и перестала так часто простывать. У меня очень давно поселились паразиты, и я никак не могла от них избавиться. Пропивала выписанные врачом лекарства, а острицы все равно возвращались. Вот уже полгода прошло, как я пропила курс Bacteoff, и у меня впервые все в порядке. Однозначно рекомендую!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
