
<section class="section section_delivery">
    <div class="container">
        <div class="delivery">
            <div class="section__title delivery__title" data-aos="fade-up">Как мы работаем:</div>
            <div class="delivery__body">
                <div class="delivery__item" data-aos="fade-right">
                    <div class="delivery__count">1</div>
                    <div class="delivery__description">Заполните форму заказа</div>
                </div>
                <div class="delivery__item" data-aos="fade-right" data-aos-delay="300">
                    <div class="delivery__count">2</div>
                    <div class="delivery__description">Дождитесь звонка оператора</div>
                </div>
                <div class="delivery__item" data-aos="fade-right" data-aos-delay="600">
                    <div class="delivery__count">3</div>
                    <div class="delivery__description">Внесите предоплату или оплатите товар при получении</div>
                </div>
            </div>
        </div>
    </div>
</section>
