
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">Bacteoff</div>
                <div class="section__title face__title" data-aos="fade-up">Быстрая <span>победа над</span> паразитами</div>
                <div class="face__product">
                    <img src="../media/product.png" alt="">
                </div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">Уничтожает все виды паразитов</div>
                    <div class="face__check" data-aos="fade-right">Выводит токсичные отходы</div>
                    <div class="face__check" data-aos="fade-right">Восстанавливает поврежденные органы</div>
                    <div class="face__check" data-aos="fade-right">Предотвращает повторное заражение</div>
                </div>
                <div class="face__eags">
                    <div class="face__eags-item">Эффективность доказана клинически</div>
                    <div class="face__eags-item">Быстрый результат</div>
                    <div class="face__eags-item">Натуральный состав</div>
                </div>
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>
