
<section class="section section_garant">
    <div class="container">
        <div class="garant">
            <div class="garant__box">
                <div class="section__title garant__title" data-aos="fade-up">Клинические исследования:</div>
                <div class="garant__info">
                    В исследовании приняло участие 50 000 человек зараженных патогенными организмами разного вида.
                </div>
                <div class="garant__item">
                    <div class="garant__line">100%</div>
                    <div class="garant__item-txt">
                        Устранение гельминтоза и яиц.
                    </div>
                </div>
                <div class="garant__item">
                    <div class="garant__line">100%</div>
                    <div class="garant__item-txt">
                        Нормализация функций и состояния внутренних органов.
                    </div>
                </div>
                <div class="garant__item">
                    <div class="garant__line">100%</div>
                    <div class="garant__item-txt">
                        Устранение симптомов паразитов (мигрень, нарушение сна, раздражительность, аллергические реакции, боли в мышцах и суставах).
                    </div>
                </div>
                <div class="garant__item">
                    <div class="garant__line">100%</div>
                    <div class="garant__item-txt">
                        Нормализация работы ЖКТ.
                    </div>
                </div>
            </div>
            <div class="garant__box">
                <div class="garant__head">
                    <div class="garant__face">
                        <img src="../media/garant/face.jpg" alt="">
                    </div>
                    <div class="garant__professional">
                        <div class="garant__name">Vernon Neal</div>
                        <div class="garant__doctor">доктор медицинских наук, паразитолог.</div>
                    </div>
                </div>
                <div class="garant__body">
                    <p>Паразиты попадают в организм разными путями, в зависимости от санитарных условий, способа жизни и гигиены. Избавиться от паразитов и предотвратить осложнения при болезни можно при помощи натурального препарата Bacteoff. Современная медицина считает этот препарат одним из лучших сертифицированных средств. </p>
                    <p>Bacteoff не имеет побочных эффектов, быстро и мягко очищает организм от всех видов паразитов и восстанавливает организм после интоксикации, укрепляя ослабленный иммунитет. </p>
                    <p>После введения в мою врачебную практику препарата Bacteoff, процесс лечения стал быстрее, эффективнее и проще. Не перестают заканчиваться благодарности пациентов, которые многие годы жили с паразитами и наконец-то смогли вылечиться, не прибегая к радикальным и опасным для. </p>
                </div>
            </div>
        </div>
    </div>
</section>
