
<section class="section section_infected">
    <div class="container">
        <div class="infected">
            <div class="section__title infected__title" data-aos="fade-up">
                <mark>Даже 1 из 8</mark> симптомов
                <span>может говорить, что вы</span>
                <div class="infected__title-before">
                    заражены
                    <span>заражены</span>
                </div>
            </div>
            <div class="infected__box">
                <div class="infected__item">
                    <div class="infected__item-media">
                        <img src="../media/infected/icon-1.png" alt="">
                    </div>
                    <div class="infected__item-description">Периодические боли в животе</div>
                </div>
                <div class="infected__item infected__item_black">
                    <div class="infected__item-media">
                        <img src="../media/infected/icon-2.png" alt="">
                    </div>
                    <div class="infected__item-description">Резкое <span>изменение</span> веса</div>
                </div>
                <div class="infected__item">
                    <div class="infected__item-media">
                        <img src="../media/infected/icon-3.png" alt="">
                    </div>
                    <div class="infected__item-description">Частые <span>простудные</span> заболевания</div>
                </div>
                <div class="infected__item infected__item_black">
                    <div class="infected__item-media">
                        <img src="../media/infected/icon-4.png" alt="">
                    </div>
                    <div class="infected__item-description">Синяки под <span>глазами, аллергия </span>и кожный зуд</div>
                </div>
                <div class="infected__item infected__item_black">
                    <div class="infected__item-media">
                        <img src="../media/infected/icon-5.png" alt="">
                    </div>
                    <div class="infected__item-description">Отсутствие <span>или повышение</span> аппетита</div>
                </div>
                <div class="infected__item">
                    <div class="infected__item-media">
                        <img src="../media/infected/icon-6.png" alt="">
                    </div>
                    <div class="infected__item-description">Функциональное <span>расстройство</span> кишечника</div>
                </div>
                <div class="infected__item infected__item_black">
                    <div class="infected__item-media">
                        <img src="../media/infected/icon-7.png" alt="">
                    </div>
                    <div class="infected__item-description">Мигрень, <span>нарушение сна,</span> раздражительность</div>
                </div>
                <div class="infected__item">
                    <div class="infected__item-media">
                        <img src="../media/infected/icon-8.png" alt="">
                    </div>
                    <div class="infected__item-description">Боли в мышцах <span>и суставах</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
