
<section class="section section_ingredients">
    <div class="container">
        <div class="ingredients">
            <div class="section__title ingredients__title" data-aos="fade-up">Натуральный состав для <span><mark>усиленной борьбы</mark></span> <mark>с паразитами</mark></div>
            <div class="ingredients__box">
                <div class="ingredients__item" data-aos="fade-right">
                    <div class="ingredients__body">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/img-1.jpg" alt="">
                        </div>
                        <div class="ingredients__name">Экстракт листьев репешка лекарственного</div>
                        <div class="ingredients__description">Убивает паразитов, блокируя у <span>них процесс всасывания пищи.</span></div>
                    </div>
                </div>
                <div class="ingredients__item ingredients__item_right" data-aos="fade-left">
                    <div class="ingredients__body">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/img-2.jpg" alt="">
                        </div>
                        <div class="ingredients__name">Экстракт ламинарии</div>
                        <div class="ingredients__description">Ускоряет процесс очищения и <span>восстановления организма.</span></div>
                    </div>
                </div>
                <div class="ingredients__item" data-aos="fade-right">
                    <div class="ingredients__body">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/img-3.jpg" alt="">
                        </div>
                        <div class="ingredients__name">Гидрогенизированное касторовое масло</div>
                        <div class="ingredients__description">Облегчает выведение из <span>организма паразитов и продукты</span> их жизнедеятельности.</div>
                    </div>
                </div>
                <div class="ingredients__item ingredients__item_right" data-aos="fade-left">
                    <div class="ingredients__body">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/img-4.jpg" alt="">
                        </div>
                        <div class="ingredients__name">Экстракт эвкалипта</div>
                        <div class="ingredients__description">Создает в организме защитный <span>барьер от повторного</span> заражения паразитами.</div>
                    </div>
                </div>
                <div class="ingredients__item" data-aos="fade-right">
                    <div class="ingredients__body">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/img-5.jpg" alt="">
                        </div>
                        <div class="ingredients__name">Экстракт листьев тысячелистника</div>
                        <div class="ingredients__description">Убивает болезнетворные <span>вирусы, грибки и бактерии.</span></div>
                    </div>
                </div>
                <div class="ingredients__item ingredients__item_right" data-aos="fade-left">
                    <div class="ingredients__body">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/img-6.jpg" alt="">
                        </div>
                        <div class="ingredients__name">Экстракт чеснока</div>
                        <div class="ingredients__description">Парализует паразитов и <span>укрепляет иммунитет.</span></div>
                    </div>
                </div>
                <div class="ingredients__product">
                    <img src="../media/product.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
