
<section class="section section_job">
    <div class="container">
        <div class="job">
            <div class="section__title job__title" data-aos="fade-up">Как работает <mark>Bacteoff?</mark></div>
            <div class="job__box">
                <div class="job__item" data-aos="fade-up-right">
                    <div class="job__step">1.</div>
                    <div class="job__description">
                        Попадая в организм человека, Bacteoff убивает нервную систему паразитов, из-за чего они не могут двигаться, размножаться и питаться.
                    </div>
                </div>
                <div class="job__item" data-aos="fade-up">
                    <div class="job__step">2.</div>
                    <div class="job__description">
                        Парализованные организмы открепляются от стенок внутренних органов человека и выводятся естественным образом, вместе с продуктами своей жизнедеятельности.
                    </div>
                </div>
                <div class="job__item" data-aos="fade-up-left">
                    <div class="job__step">3.</div>
                    <div class="job__description">
                        Bacteoff восстанавливает поврежденные ткани и повышает иммунитет, чтобы предотвратить повторное заражение организма.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
