
<section class="section section_parasites">
    <div class="container">
        <div class="parasites">
            <div class="section__title parasites__title" data-aos="fade-up">Как паразиты <span>проникают в организм?</span></div>
            <div class="parasites__box">
                <div class="parasites__item" data-aos="fade-up">
                    <div class="parasites__description"><p>Предметы <span>и места общего</span> пользования</p></div>
                </div>
                <div class="parasites__item" data-aos="fade-down">
                    <div class="parasites__description"><p>Вода, еда <span>и почва</p></span></div>
                </div>
                <div class="parasites__item" data-aos="fade-up">
                    <div class="parasites__description"><p>Несоблюдение <span>личной гигиены</span></p></div>
                </div>
                <div class="parasites__item" data-aos="fade-down">
                    <div class="parasites__description"><p>Животные <span>и насекомые</p></span></div>
                </div>
                <div class="parasites__item" data-aos="fade-up">
                    <div class="parasites__description"><p>Контакт с <span>переносчиком</span> инфекции</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
