
<section class="section section_protect">
    <div class="container">
        <div class="protect">
            <div class="section__title protect__title" data-aos="fade-up"><mark>Защитите себя</mark> и свою семью!</div>
            <div class="protect__subtitle">Почему Bacteoff лучше других средств?</div>
            <div class="protect__list">
                <div class="protect__item">
                    <div class="protect__list-title">Эффективен</div>
                    <div class="protect__list-description">
                        <b>Быстро очищает организм от всех известных видов паразитов,</b> восстанавливает поврежденные ткани органов, создает защиту от повторного заражения и укрепляет иммунитет.
                    </div>
                </div>
                <div class="protect__item">
                    <div class="protect__list-title">Безопасен</div>
                    <div class="protect__list-description">
                        <span>
                            <b>Сертифицированное средство, не имеющее побочных действий.</b>
                        </span>
                        Для производства используется экологически чистое сырье.
                    </div>
                </div>
            </div>
            <div class="protect__product">
                <img src="../media/product-2.png" alt="">
            </div>
            <a href="" class="protect__btn">Заказать сейчас</a>
        </div>
    </div>
</section>
