
<section class="section section_video">
    <div class="section__title video__title" data-aos="fade-up">Как я выгляжу</div>
    <video loop="" muted="" autoplay="" poster="../media/video/bg.jpg" playsinline >
        <source src="../media/video/bg.mp4" type="video/mp4">
        <source src="../media/video/bg.webm" type="video/webm">
    </video>
</section>
