
<section class="section section_who">
    <div class="container">
        <div class="who">
            <div class="who__description">
                По данным ВОЗ, паразитарными болезнями <mark>в мире заражено более</mark>
                <span><mark>4,5 млрд человек.</mark> Защитить себя от поражения очень сложно, даже</span>
                при соблюдении всех мер безопасности.
            </div>
            <div class="who__info">
                Заражение происходит незаметно и безболезненно –
                <span><mark>вы можете не догадываться о том, что паразиты</mark></span>
                <mark>уже несколько лет живут в вашем организме.</mark>
            </div>
        </div>
    </div>
</section>
