
.form {
    position: relative;
    z-index: 1;
    width: 315px;
    padding: 30px;
    margin-top: 65px;
    margin-bottom: 30px;
    margin-left: auto;
    background-color: #f7f3f2;
    border-radius: 3px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .08);
}

.form__title {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;

    & mark {
        color: #83b26e;
    }
}

.form__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.form__price-old {
    position: relative;
    margin-right: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #52504d;

    &::before {
        position: absolute;
        top: 50%;
        left: -5px;
        width: calc(100% + 10px);
        height: 2px;
        content: '';
        background-color: #52504d;
    }
}

.form__price-main {
    font-size: 32px;
    font-weight: 700;
    color: #22b292;
}

.form__time {
    margin-top: 20px;
    margin-bottom: 40px;
}

.form__time-title {
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.form__time-box {
    display: flex;
    justify-content: center;

    & > span {
        margin-right: 3px;
        margin-left: 3px;
        font-size: 28px;
        font-weight: 500;
        line-height: 49px;
    }
}

.form__time-count {
    position: relative;
    box-sizing: content-box;
    width: 68px;
    height: 52px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;

    & span {
        display: block;
        font-weight: 500;

        &:first-child {
            font-family: "Montserrat", sans-serif;
            font-size: 34px;
            font-weight: 600;
            line-height: 53px;
            text-align: center;
            text-transform: uppercase;
        }

        &:last-child {
            position: absolute;
            right: 0;
            bottom: -20px;
            left: 0;
            width: 100%;
            font-size: 15px;
            text-align: center;
        }
    }
}

.form__label {
    position: relative;
    display: block;
    margin-top: 25px;

    & span {
        position: absolute;
        top: 0;
        left: 25px;
        font-size: 15px;
        font-weight: 500;
        transition: .1s transform;
        transform: translateY(17px);
    }
}

.form__field {
    display: block;
    width: 100%;
    height: 55px;
    padding: 10px 25px;
    background-color: #fff;
    border: 1px solid #e7e6e3;
    border-radius: 3px;

    &:focus {
        outline: none;
    }

    &_active {
        & + span {
            font-size: 14px;
            transform: translateY(-18px);
        }
    }
}

.form__select {
    appearance: none;
    background-color: #e7e6e3;
    background-image: url("../media/form/arrow.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 10px;

    & option {
        color: #000;
    }
}

.form__btn {
    display: block;
    width: 100%;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    margin-top: 25px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    background: rgb(167, 165, 79);
    background: linear-gradient(180deg, rgba(167, 165, 79, 1) 0%, rgba(105, 155, 68, 1) 100%);
    border: none;
    border-radius: 2px;
    transition: .3s;
    border-radius: 50px;

    &:hover {
        background-color: #20b961;
        transform: scale(0.98);
    }

    &:focus {
        outline: none;
    }
}

@media (max-width: 1030px) {
    .form {
        margin-top: 75px;
    }
}

@media (max-width: 768px) {
    .form {
        width: 100%;
        margin-top: 40px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    .form {
        max-width: 100%;
    }

    .form__btn {
        font-size: 20px;
    }
}
