
.infected__title {
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
    font-size: 65px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;

    & mark {
        color: #ff0042;
    }

    & span {
        display: block;
        font-size: 33px;
        font-weight: 700;
        letter-spacing: 17.5px;
    }
}

.infected__title-before {
    position: relative;
    font-size: 152px;
    color: #fff;
    line-height: 146px;
    -webkit-text-stroke: 4px #ff0042;
    letter-spacing: 8px;

    & span {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 280px;
        color: #f6f6f6;
        -webkit-text-stroke: 0 transparent;
        font-weight: 900;
        letter-spacing: 0;
    }
}

.infected__box {
    display: flex;
    flex-wrap: wrap;
}

.infected__item {
    flex: 0 0 25%;
    max-width: 25%;
    min-height: 250px;
    background-color: #ff0042;

    &_black {
        background-color: #000;
    }
}

.infected__item-media {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;

    & img {
        display: block;
        max-width: 90%;
        max-height: 70%;
    }
}

.infected__item-description {
    height: 50%;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    text-align: center;

    & span {
        display: block;
    }
}

@media (max-width: 1030px) {
    .infected__item-description {
        font-size: 14px;
    }

    .infected__item {
        min-height: 184px;
    }

    .infected__item-media {
        height: 60%;
    }

    .infected__title {
        & span {
            letter-spacing: 2px;
            line-height: 1.5;
        }
    }

    .infected__title-before {
        font-size: 80px;
        line-height: 1;

        & span {
            font-size: 150px;
        }
    }
}

@media (max-width: 768px) {
    .infected__title {
        line-height: 1.2;
        font-size: 30px;

        & span {
            font-size: 26px;
            line-height: inherit;
        }
    }

    .infected__title-before {
        font-size: 58px;

        & span {
            font-size: 100px;
        }
    }

    .infected__item {
        flex: 0 0 50%;
        max-width: 50%;
        min-height: 149px;
        background-color: #ff0042;

        &_black {
            background-color: #000;
        }

        &:nth-child(1) {
            order: 2;
        }
        &:nth-child(2) {
            order: 1;
        }
        &:nth-child(3) {
            order: 3;
        }
        &:nth-child(4) {
            order: 4;
        }
        &:nth-child(5) {
            order: 5;
        }
        &:nth-child(6) {
            order: 6;
        }
        &:nth-child(7) {
            order: 8;
        }
        &:nth-child(8) {
            order: 7;
        }
    }
}

@media (max-width: 480px) {
    .infected__title {
        & span {
            font-size: 18px;
        }
    }

    .infected__title-before {
        font-size: 36px;
        -webkit-text-stroke: 2px #ff0042;

        & span {
            font-size: 70px;
        }
    }
}

@media (max-width: 370px) {
    .infected__item {
        flex: 0 0 100%;
        max-width: 100%;

        &:nth-child(1) {
            order: 2;
        }
        &:nth-child(2) {
            order: 1;
        }
        &:nth-child(3) {
            order: 4;
        }
        &:nth-child(4) {
            order: 3;
        }
        &:nth-child(5) {
            order: 5;
        }
        &:nth-child(6) {
            order: 6;
        }
        &:nth-child(7) {
            order: 7;
        }
        &:nth-child(8) {
            order: 8;
        }
    }
}
