
.ingredients__title {
    font-size: 58px;
    line-height: 55px;
    text-align: center;

    & mark {
        color: #86a049;
    }

    & span {
        display: block;
    }
}

.ingredients__box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
}

.ingredients__item {
    display: flex;
    flex: 0 0 50%;
    margin-top: 30px;

    &_right {
        justify-content: flex-end;
        text-align: right;
    }
}

.ingredients__body {
    max-width: 270px;
}

.ingredients__media {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.ingredients__name {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #86a049;
}

.ingredients__description {
    & span {
        display: block;
    }
}

.ingredients__product {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    max-width: 358px;
    margin-top: 50px;
    transform: translate(-50%, -50%);

    &::before {
        position: absolute;
        bottom: -25px;
        left: 50%;
        z-index: -1;
        width: 602px;
        height: 531px;
        margin-left: 49px;
        content: '';
        background-image: url("../media/product-before.png");
        background-size: cover;
        transform: translateX(-50%);
    }
}

@media (max-width: 1030px) {
    .ingredients__product {
        max-width: 250px;

        &::before {
            bottom: -13px;
            z-index: -1;
            width: 320px;
            height: 282px;
            margin-left: 34px;
        }
    }
}

@media (max-width: 768px) {
    .ingredients__title {
        margin-bottom: 30px;
    }

    .ingredients__item {
        flex: 0 0 calc(50% - 15px);
    }

    .ingredients__name {
        font-size: 18px;
    }

    .ingredients__description {
        font-size: 14px;

        & span {
            display: inline;
        }
    }

    .ingredients__product {
        position: static;
        margin-right: auto;
        margin-left: auto;
        transform: translate(0, 0);
    }
}

@media (max-width: 480px) {
    .ingredients__body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        padding-left: 100px;
    }

    .ingredients__media {
        position: absolute;
        top: 0;
        left: 0;
    }

    .ingredients__item {
        flex: 0 0 100%;
        min-height: 90px;

        &_right {
            justify-content: flex-start;
            text-align: left;
        }
    }
}
