
.job__title {
    margin-bottom: 30px;
    font-size: 58px;
    line-height: 55px;
    text-align: center;

    & mark {
        color: #86a049;
    }
}

.job__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job__item {
    flex: 0 0 calc(33.333% - 20px);
    padding: 260px 40px 40px;
    background-position: center top;
    border: 2px solid #000;

    &:nth-child(1) {
        background-image: url("../media/job/img-1.jpg");
    }

    &:nth-child(2) {
        background-image: url("../media/job/img-2.jpg");
    }

    &:nth-child(3) {
        background-image: url("../media/job/img-3.jpg");
    }
}

.job__step {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 500;
}

.job__description {
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 1030px) {
    .job__item {
        flex: 0 0 calc(33.333% - 20px);
        padding: 260px 15px 15px;
    }

    .job__description {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .job__item {
        flex: 0 0 100%;
        margin-bottom: 15px;
    }

    .job__description {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
    }
}
