
.parasites__title {
    margin-bottom: 30px;
    font-size: 65px;
    line-height: 62px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    & span {
        display: block;
    }
}

.parasites__box {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.parasites__item {
    width: 188px;
    padding: 290px 15px 30px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    background-color: #fff;
    background-position: center top;
    border: 3px solid #fff;

    &:nth-child(1) {
        background-image: url("../media/parasites/bg-1.jpg");
    }

    &:nth-child(2) {
        background-image: url("../media/parasites/bg-2.jpg");
    }

    &:nth-child(3) {
        background-image: url("../media/parasites/bg-3.jpg");
    }

    &:nth-child(4) {
        background-image: url("../media/parasites/bg-4.jpg");
    }

    &:nth-child(5) {
        background-image: url("../media/parasites/bg-5.jpg");
    }
}

.parasites__description {
    font-size: 17px;
    font-weight: 800;
    text-align: center;

    & span {
        display: block;
    }
}

@media (max-width: 1030px) {
    .parasites__item {
        width: 236px;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .parasites__item {
        width: 217px;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .parasites__item {
        display: flex;
        align-items: center;
        width: calc(50% - 15px);
    }

    .parasites__description {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
    }
}
