
.protect {
    position: relative;
    max-width: 540px;
}

.protect__title {
    margin-bottom: 20px;
    font-size: 65px;
    line-height: 63px;

    & mark {
        color: #86a049;
    }
}

.protect__subtitle {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}

.protect__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.protect__item {
    flex: 0 0 calc(50% - 12px);
    padding: 15px;
    border: 2px solid #c2c2c2;
}

.protect__list-title {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 800;
    color: #86a049;
}

.protect__list-description {
    font-size: 17px;
    line-height: 22px;

    & b {
        font-weight: 700;
    }

    & span {
        display: block;
        margin-bottom: 15px;
    }
}

.protect__product {
    position: absolute;
    right: -335px;
    bottom: -70px;
}

.protect__btn {
    display: inline-block;
    padding: 16px 60px;
    margin-top: 25px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    background: rgb(167, 165, 79);
    background: linear-gradient(180deg, rgba(167, 165, 79, 1) 0%, rgba(105, 155, 68, 1) 100%);
    border: none;
    border-radius: 2px;
    transition: .3s;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background-color: #20b961;
        transform: scale(0.98);
    }

    &:focus {
        outline: none;
    }
}

@media (max-width: 1030px) {
    .protect {
        max-width: 490px;
    }

    .protect__product {
        right: -245px;
        bottom: 0;
        max-width: 320px;
    }
}

@media (max-width: 768px) {
    .protect__product {
        position: static;
        margin: 20px auto;
    }

    .protect__btn {
        display: block;
        max-width: 290px;
        margin-right: auto;
        margin-left: auto;
    }

    .protect__item {
        flex: 0 0 calc(50% - 5px);
    }

    .protect__subtitle {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .protect__list {
        flex-wrap: wrap;
    }

    .protect__item {
        flex: 0 0 100%;

        & + & {
            margin-top: 15px;
        }
    }
}
