
.video__title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-bottom: 30px;
    font-size: 65px;
    line-height: 62px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
    .video__title {
        top: 30px;
        width: calc(100% - 30px);
        font-size: 21px;
        font-weight: 400;
        transform: translate(-50%, 0);
    }
}
