
.warning {
    display: flex;
    padding: 40px;
    background-color: #f5f5f5;
}

.warning__box {
    flex: 0 0 50%;

    &:first-child {
        position: relative;
    }

    &:last-child {
        max-width: 430px;
        margin-left: auto;
    }
}

.warning__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 250px;
    margin-top: -15px;
}

.warning__item {
    margin-top: 15px;
}

.warning__title {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 48px;
    color: #e71414;
}

.warning__description {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.warning__product {
    position: absolute;
    top: -85px;
    right: -50px;
    max-width: 317px;
}

@media (max-width: 1030px) {
    .warning {
        flex-wrap: wrap;
    }

    .warning__box {
        &:first-child {
            display: flex;
            flex: 0 0 100%;
            order: 2;
            margin-top: 30px;
        }

        &:last-child {
            flex: 0 0 100%;
            order: 1;
            max-width: 100%;
        }
    }

    .warning__product {
        position: static;
        max-width: 230px;
        margin-left: 60px;
    }

    .warning__list {
        height: 250px;
    }
}

@media (max-width: 768px) {
    .warning__box {
        &:first-child {
            flex-direction: column;
            align-items: center;
        }

        &:last-child {
            flex: 0 0 100%;
            order: 1;
            max-width: 100%;
            text-align: center;
        }
    }

    .warning__list {
        order: 2;
        margin-top: 30px;
    }

    .warning__product {
        order: 1;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .warning {
        padding: 20px;
        padding-bottom: 40px;
    }

    .warning__list {
        width: 100%;
        max-width: 250px;
    }
}
