
.who {
    min-height: 245px;
    padding: 30px 30px 30px 280px;
    background-color: #fff;
    background-image: url("../media/who/who-logo.png");
    background-position: 30px center;
    border: 3px solid #000;
}

.who__description {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;

    & mark {
        font-weight: 700;
        color: #ff0042;
    }

    & span {
        display: block;
    }
}

.who__info {
    font-size: 24px;
    font-weight: 800;

    & mark {
        color: #ff0042;
    }

    & span {
        display: block;
    }
}

@media (max-width: 1030px) {
    .who__description {
        & span {
            display: inline;
        }
    }

    .who__info {
        & span {
            display: inline;
        }
    }
}

@media (max-width: 768px) {
    .who {
        min-height: 245px;
        padding: 250px 30px 30px 30px;
        background-position: center 30px;
    }
}

@media (max-width: 480px) {
    .who__description {
        font-size: 16px;
    }

    .who__info {
        font-size: 18px;
    }
}
